.feature-section {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 2rem;
  padding: 2rem;
  margin-left: 30px;

  margin-top: 30px;
}

.feature-left {
  flex: 1;
  max-width: 50%;
}

.feature-left .feature-image {
  width: 70%;
  border-radius: 8px;
  margin-bottom: 1rem;
  height: 30%;

  animation: rotateAndBounce 3s infinite ease-in-out;
}
.feature-image {
  width: 80%;
  border-radius: 8px;
  margin-bottom: 1rem;
  transform: translateY(0);
  transition: transform 0.3s ease;
}

/* Bounce animation */
@keyframes bounce {
  0%,
  100% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-20px);
  }
}

/* Trigger animation when the bounce class is added */
.feature-image.bounce {
  animation: bounce 1s ease-in-out;
}

.feature-left h2 {
  font-size: 1.8rem;
  color: black;
  margin-bottom: 0.5rem;
  font-weight: 600;
  margin-top: 0;
}

.feature-left p {
  font-size: 1rem;
  color: #555;
  line-height: 1.5;
}

.feature-right {
  flex: 1;
  max-width: 50%;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.faq-card {
  background: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
  padding: 1rem;
  transition: box-shadow 0.3s ease;
}

.faq-card:hover {
  box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
}

.faq-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.faq-header h3 {
  font-size: 1rem;
  color: #333;
  margin: 0;
}

.arrow {
  font-size: 1.2rem;
  color: #272b3b;
  transition: transform 0.3s ease;
}

.arrow.open {
  transform: rotate(90deg);
}

.faq-answer {
  margin-top: 1rem;
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
  animation: slideDown 0.3s ease-out;
}

@keyframes slideDown {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.highlight-card {
  background: #a8dce7;
  padding: 1.5rem;
  border-radius: 8px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.05);
}

.highlight-card h3 {
  font-size: 1.2rem;
  color: #007bff;
  margin-bottom: 0.5rem;
}

.highlight-card p {
  font-size: 0.95rem;
  color: #555;
  line-height: 1.6;
}
