.sidebar {
  width: 180px;
  height: 100vh;
  background-color: #272b3b;
  color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  transition: width 0.3s ease;
  overflow: hidden;
}

.sidebar.closed {
  width: 59px;
}

.name {
  font-size: 1.2rem;
  font-weight: bold;
  color: #ffffff;
  margin-top: 15px;
  margin-left: 15px;
  text-align: center;
  display: flex;
  justify-content: center;
}

.sidebar-content {
  padding: 15px;
}

.sidebar-content ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.sidebar-content ul li {
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 15px;
  padding: 8px;
  margin: 8px 0;
  transition: background-color 0.3s ease;
}

.sidebar-content ul li:hover {
  color: #a8dce7;
}

.sidebar-content .icon {
  font-size: 20px;
  margin-right: 10px;
}

.sidebar.closed .sidebar-content .icon {
  margin-right: 0;
  display: flex;
  justify-content: center;
}

.sidebar-content .dropdown-toggle {
  display: flex;
  align-items: center;
  padding: 8px;
  cursor: pointer;
}

.sidebar-content .arrow-icon {
  font-size: 0.9rem;
  padding-left: 5px;
}

.sidebar.closed .sidebar-content .arrow-icon {
  display: none; /* Hide arrow in collapsed state */
}

.sidebar-content .dropdown {
  margin-left: 20px;
}

.sidebar.closed .dropdown {
  display: none;
}

/* Responsive Styles */

/* Screen size 1024px and below */
@media (max-width: 1024px) {
  .sidebar {
    width: 150px;
  }

  .sidebar.closed {
    width: 60px;
  }

  .name {
    font-size: 1rem;
  }

  .sidebar-content ul li {
    font-size: 14px;
  }

  .sidebar-content .icon {
    font-size: 18px;
  }
}

/* Screen size 768px and below */
@media (max-width: 768px) {
  .sidebar {
    width: 132px;
  }

  .sidebar.closed {
    width: 59px;
  }

  .name {
    font-size: 0.9rem;
  }

  .sidebar-content ul li {
    font-size: 13px;
  }
}

/* Screen size 425px and below */
@media (max-width: 425px) {
  .sidebar {
    width: 100px;
  }

  .sidebar.closed {
    width: 58px;
  }

  .name {
    display: none; /* Hide name for smaller screens */
  }

  .sidebar-content ul li {
    font-size: 12px;
  }
}

/* Screen size 400px and below */
@media (max-width: 400px) {
  .sidebar {
    width: 90px;
  }

  .sidebar.closed {
    width: 59px;
  }

  .sidebar-content ul li {
    font-size: 11px;
  }
}

/* Screen size 380px and below */
@media (max-width: 380px) {
  .sidebar.closed {
    width: 58px;
  }

  .sidebar-content ul li {
    padding: 6px;
  }
}

/* Screen size 350px and below */
@media (max-width: 350px) {
  .sidebar.closed {
    width: 55px;
  }

  .sidebar-content ul li {
    font-size: 10px;
    padding: 5px;
  }
}

/* Screen size 320px and below */
@media (max-width: 320px) {
  .sidebar.closed {
    width: 58px;
  }

  .sidebar-content ul li {
    font-size: 9px;
    padding: 4px;
  }

  .sidebar-content .icon {
    font-size: 16px;
  }
}
