.headerN {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 2rem;
  background-color: #272b3b;
  color: #ffffff;
}
.logoN {
  font-size: 1.5rem;
  font-weight: bold;
}
.Home-link {
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  color: white;
}
.nav .login-btn {
  font-size: 16px;
  color: #fff;
  background-color: #272b3b;
  padding: 10px 15px;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.nav .login-btn:hover {
  border: 1px solid grey;
}

.get-started-btn {
  padding: 0.5rem 1rem;
  background-color: #a8dce7;
  color: black;
  text-decoration: none;
  margin-left: 1rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.hamburger {
  display: none;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 30px;
  height: 20px;
  cursor: pointer;
}

.hamburger .line {
  width: 100%;
  height: 3px;
  background-color: #a8dce7;
}

/* Blurred Background Overlay */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  backdrop-filter: blur(5px);
  display: none;
  z-index: 999;
}

.overlay.active {
  display: block;
}

@media (max-width: 1024px) {
  .headerN {
    padding: 10px;
  }
  .logo {
    font-size: 18px;
  }

  .nav {
    gap: 8px;
  }
}
@media (max-width: 768px) {
  .hamburger {
    display: flex;
  }

  .nav {
    display: none;
    flex-direction: column;
  }

  .nav.open {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 0;
    right: 0;
    background-color: #272b3b;
    padding: 20px;
    width: 200px;
    height: 100%;
    text-align: center;
    z-index: 1000;
    animation: slideIn 0.3s ease-in-out;
  }
  @keyframes slideIn {
    from {
      right: -250px;
    }
    to {
      right: 0;
    }
  }
}

@media (max-width: 425px) {
  .headerN {
    padding: 5px 15px;
  }
}

@media (max-width: 400px) {
  .headerN {
    padding: 5px 10px;
  }
}

@media (max-width: 380px) {
  .headerN {
    padding: 5px 5px;
  }
}
