.signup-container {
  margin-left: 200px;
  padding: 20px;
  margin-top: 100px;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
}
.signup-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url(../Assets/sign\ up\ background.jpg);
  background-size: cover;
  background-position: center;
  filter: blur(8px);
  z-index: 1;
}
.signup-box {
  background-color: #a9cdcfe0;
  z-index: 2;
  position: relative;
  width: 50%;
  border-radius: 4px;
  padding: 10px;
}
.signup-header {
  text-align: center;
  margin-bottom: 20px;
}

.signup-header .logo {
  width: 50px;
  margin-bottom: 10px;
}

.signup-header h1 {
  font-size: 28px;
  color: #333;
}

.signup-form h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.signup-form p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.formS-row {
  display: flex;
  gap: 20px;
  margin: 20px;
  /* width: 60%; */
}

.formS-group {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 40px;
}

.signup-form h2 {
  text-align: center;
  font-size: 24px;
  color: #333;
  margin-bottom: 10px;
}

.signup-form p {
  text-align: center;
  color: #555;
  margin-bottom: 20px;
}

.formS-group label {
  margin-bottom: 8px;
  font-size: 14px;
  color: #333;
}

.formS-group input {
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.formS-group input:focus {
  outline: none;
  border-color: #0099cc;
}

.form-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.remember-me {
  display: flex;
  align-items: center;
  gap: 5px;
}

.remember-me label {
  font-size: 14px;
  color: #555;
}

.forgot-password {
  font-size: 14px;
  color: #0099cc;
  cursor: pointer;
}

.signup-button {
  padding: 10px;
  background-color: #333;
  color: white;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.signup-button:hover {
  background-color: #555;
}
.close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  background: transparent;
  border: none;
  font-size: 20px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
  transition: color 0.3s ease;
}

.close-button:hover {
  color: #f44336;
}

@media screen and (max-width: 1024px) {
  .signup-container {
    padding: 10px;
    margin-left: 50px;
    margin-top: 5px;
  }
  .signup-header h1 {
    font-size: 24px;
  }
  .signup-form h2 {
    font-size: 20px;
  }
  .signup-box {
    width: 70%;
  }
}

@media screen and (max-width: 780px) {
  .signup-container {
    max-width: 600px;
  }

  .signup-button {
    font-size: 14px;
  }
  .signup-box {
    width: 80%;
  }
}

@media screen and (max-width: 520px) {
  .signup-container {
    max-width: 400px;
  }
  .formS-group input {
    padding: 8px;
    font-size: 13px;
  }
  .signup-box {
    width: 100%;
  }
}

@media screen and (max-width: 480px) {
  .signup-container {
    max-width: 400px;
    padding: 10px;
    margin: 5px;
  }
  .signup-header h1 {
    font-size: 20px;
  }
  .signup-form h2 {
    font-size: 18px;
  }
  .signup-button {
    font-size: 13px;
    padding: 8px;
  }
}

@media screen and (max-width: 400px) {
  .signup-container {
    max-width: 480px;
  }
  .formS-group label {
    font-size: 12px;
  }
  .formS-group input {
    font-size: 12px;
  }
}

@media screen and (max-width: 380px) {
  .signup-container {
    max-width: 380px;
  }
}

@media screen and (max-width: 320px) {
  .signup-container {
    max-width: 280px;
    padding: 5px;
  }
  .signup-header h1 {
    font-size: 18px;
  }
  .signup-form h2 {
    font-size: 16px;
  }
  .formS-group label {
    font-size: 10px;
  }
  .formS-group input {
    font-size: 10px;
    padding: 5px;
  }
  .signup-button {
    font-size: 12px;
    padding: 5px;
  }
}
