.header {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #ffffff;
  padding: 0 20px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
  position: sticky;
  top: 0;
  z-index: 1000;
}

.menu-icon {
  font-size: 1.5rem;
  cursor: pointer;
}

.search-bar {
  flex: 1;
  margin: 0 20px;
}

.search-bar input {
  width: 100%;
  max-width: 200px;
  padding: 6px 8px;
  border: 1px solid #dcdcdc;
  border-radius: 15px;
  outline: none;
}

.icons {
  display: flex;
  align-items: center;
  gap: 15px;
}

.icon1 {
  font-size: 1.2rem;
  color: #2b2b2b;
  cursor: pointer;
  transition: color 0.3s ease;
}

.icon1:hover {
  color: #a8dce7;
}

/* Responsive styles */

/* Screen size 1024px and below */
@media (max-width: 1024px) {
  .search-bar {
    margin: 0 10px;
  }

  .search-bar input {
    max-width: 250px;
  }

  .icons {
    gap: 10px;
  }
}

/* Screen size 768px and below */
@media (max-width: 768px) {
  .search-bar {
    flex: none;
    margin: 0 5px;
  }

  .search-bar input {
    max-width: 200px;
  }
}

/* Screen size 425px and below */
@media (max-width: 425px) {
  .header {
    flex-direction: row;
    align-items: flex-start;
    height: auto;
    padding: 10px;
    width: 90%;
  }
  .search-bar {
    display: none; /* Hide search bar on small screens */
  }

  .icons {
    gap: 8px;
  }
}

/* Screen size 400px and below */
@media (max-width: 400px) {
  .icon1 {
    font-size: 1rem;
  }
  .header {
    width: 91%;
  }
  .menu-icon {
    font-size: 1.3rem;
  }
}

/* Screen size 380px and below */
@media (max-width: 380px) {
  .header {
    height: auto;
    padding: 10px;
  }
}

/* Screen size 350px and below */
@media (max-width: 350px) {
  .icon {
    font-size: 0.9rem;
  }

  .menu-icon {
    font-size: 1.2rem;
  }
}

/* Screen size 320px and below */
@media (max-width: 320px) {
  .header {
    padding: 5px;
  }

  .icons {
    gap: 5px;
  }

  .icon {
    font-size: 0.8rem;
  }
}
